### Step 1. Import the necessary libraries.

In [1]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*.

In [2]:
pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv").head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [4]:
chipo["item_price"] = pd.to_numeric(chipo["item_price"].replace("[$, " "]", "", regex = True))

chipo[chipo["item_price"] > 10]["item_name"].count()

1130

**OR**

In [4]:
(chipo["item_price"] > 10).sum()

1130

**OR**

In [4]:
chipo[chipo["item_price"] > 10]["item_name"].nunique()

31

### Step 5. What is the price of each item? 
Print a data frame with only two columns `item_name` and `item_price`

In [5]:
chipo["price_per_item"] = chipo["item_price"] / chipo["quantity"]

chipo.groupby("item_name").agg({"price_per_item":"max"})

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 6. Sort by the name of the item.

In [6]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo[chipo["item_price"] == chipo["item_price"].max()]["quantity"].sum()

15

**OR**

In [7]:
chipo[chipo["item_price"] == chipo["item_price"].max()][["quantity", "item_name"]]

      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa

**OR**

In [7]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [8]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"]["item_name"].count()

18

**OR**

In [8]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [9]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]["item_name"].count()

20

**OR**

In [9]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)].shape[0]

20

**OR**

In [9]:
(chipo[chipo["item_name"] == "Canned Soda"].quantity > 1).sum()

20